/AbstractFactory/target/
/AbstractFactoryOpdracht/target/
/Adapter/target/
/AdapterBank/target/
/Bridge/target/
/Builder/target/
/BuilderOpdracht/target/
/ChainOfResponsibility/target/
/Command/target/
/Composite/target/
/Decorator/target/
/Facade/target/
/FacadeEnVisitor/target/
/FactoryMethod/target/
/Flyweight/target/
/Iterator/target/
/Mediator/target/
/Memento/target/
/Observer/target/
/Prototype/target/
/Proxy/target/
/Singleton/target/
/State/target/
/Strategy/target/
/TemplateMethod/target/
/Visitor/target/